body {
    background-image:url("../img/GameLayout.jpg");
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

#topHeaders, #bottomHeaders, #commentsHeaders {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
    opacity: 0.5;
}

#ownEntryYes, #ownEntryNo, #ridEntryYes, #ridEntryNo {
    background-color: white;
}

#game {
    grid-area: auto;
}

#version {
    grid-area: auto;
}


#year {
    grid-area: auto;
}


#myStar {
    grid-area: auto;
}


#own {
    grid-area: auto;
}


#rid {
    grid-area: auto;
}

#commentEntry {
    grid-area: auto;
    opacity: 1.0;
}

