body {
    background-image:url("../img/GameLayout.jpg");

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
}
#game {
    grid-area: auto;
}

#version {
    grid-area: auto;
}


#year {
    grid-area: auto;
}


#myStar {
    grid-area: auto;
}


#own {
    grid-area: auto;
}


#rid {
    grid-area: auto;
}

#comments {
    grid-area: auto;
}

